#!/usr/bin/env bash
export DEBUG=1
export SECRET_KEY='agi-tech-exercise-123'
export DJANGO_ALLOWED_HOSTS=* localhost 127.0.0.1 [::1]
export LOG_FILE_PATH=logs/agi.log
export CELERY_LOG_FILE_PATH=logs/celery.log
export LOG_LEVEL=DEBUG