{% extends 'base/base.html' %}
{% load static widget_tweaks %}

<!-- ================================
    START SEO BLOCKS
================================= -->
{% block title %}
    AGI - {{page_name}}
{% endblock %}

{% block keywords %}
{% endblock %}

{% block description %}
{% endblock %}

{% block schema %}
{% endblock %}
<!-- ================================
    END SEO BLOCKS AREA
================================= -->

<!-- ================================
    START HEADER SECTION
================================= -->
{% block extend_header %}{% endblock %}
<!-- ================================
    END HEADER SECTION
================================= -->

<!-- ================================
    START MODAL SECTION
================================= -->
{% block modal %}{% endblock %}
<!-- ================================
    END MODAL SECTION
================================= -->

<!-- ================================
    START FOOTER SECTION
================================= -->
{% block extend_footer %}

<script>

$(document).ready(function(){


	$('.create-json-button').on('click', function (event) {
		event.preventDefault();
		const url = $(this).attr('href');
		$.ajax({
			url:url,
			method:"POST",
			success:function(json){	
				var download_button = $('#download-link')
				download_button.attr("href",json["json_url"] )
				download_button.get(0).click();

			},
			error:function(json){	
				ShowAlert(json["result"], json["message"], json["result"].toLowerCase(), json["redirect"]);		
			}
		})
	
	});
});
</script>


{% endblock %}
<!-- ================================
    END FOOTER SECTION
================================= -->

<!-- ================================
    START CONTENT SECTION
================================= -->
{% block content %}

{% include 'base/partials/breadcrumb.html' %}
<a  style="display: none" id="download-link" href="" download="data.json">download</a>
<div class="col-lg-12">
	<div class="card">
		<div class="card-header">
			<h4 class="card-title">{{page_name}}</h4>
			<div class="d-flex">
				{% comment %} <button type="submit" id="select_multiple_btn" class="btn light btn-outline-primary btn-sm me-2 ">Download Selection</button> {% endcomment %}
			</div>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-responsive-md">
					<thead>
						<tr>
							{% comment %} <th style="width:50px;">
								<div class="form-check custom-checkbox checkbox-primary check-lg">
									<input  type="checkbox" class="form-check-input" id="checkAll" value="">
									<label class="form-check-label" for="checkAll"></label>
								</div>
							</th> {% endcomment %}
							<th>Date</th>
							<th>Images</th>
							<th>Title</th>
							<th>X</th>
							<th>Y</th>
							<th>X2</th>
							<th>Y2</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% csrf_token %}
						{% for object in object_list %}
						<tr id="{{ object.id }}">
							{% comment %} <td>
								<div class="form-check custom-checkbox checkbox-primary check-lg me-3">
									<input name="object_id[]" type="checkbox" class="form-check-input" value="{{ object.id }}">
									<label class="form-check-label" for="checkbox-{{ object.id }}"></label>
								</div>
							</td> {% endcomment %}

							<td>{{ object.created.date }}</td>
							
							<td>
								{% comment %} <a href="{{object.get_absolute_url}}"> {% endcomment %}
									<div class="d-flex align-items-center">
										<img src="{{object.gallery.file.url}}" class="rounded-lg me-2" width="24" alt=""> 
										<span class="w-space-no">{{object.gallery.title}}</span>
									</div>
								{% comment %} </a> {% endcomment %}
							</td>
							<td><strong>{{ object.title }}</strong></td>
							<td><strong>{{ object.x }}</strong></td>
							<td><strong>{{ object.y }}</strong></td>
							<td><strong>{{ object.x2 }}</strong></td>
							<td><strong>{{ object.y2 }}</strong></td>
							<td>
								<div class="sweetalert">
									<div class="d-flex">
										<a href="/create-json/{{object.id}}/" class="btn btn-secondary shadow btn-xs sharp me-1 create-json-button"><i class="fas fa-download text-white"></i></a>
									</div>
							</div>
							</td>
							
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% include 'base/partials/pagination.html' %}
		</div>
	</div>
</div>

{% endblock %}

<!-- ================================
    END CONTENT SECTION
================================= -->