{% extends 'base/base.html' %}
{% load static widget_tweaks %}

<!-- ================================
    START SEO BLOCKS
================================= -->
{% block title %}
    AGI - {{page_name}}
{% endblock %}

{% block keywords %}
{% endblock %}

{% block description %}
{% endblock %}

{% block schema %}
{% endblock %}
<!-- ================================
    END SEO BLOCKS AREA
================================= -->

<!-- ================================
    START HEADER SECTION
================================= -->
{% block extend_header %}
<link rel="stylesheet" href="{% static 'css/vendor/jquery.selectareas.css' %}" />
{% endblock %}
<!-- ================================
    END HEADER SECTION
================================= -->

<!-- ================================
    START MODAL SECTION
================================= -->
{% block modal %}{% endblock %}
<!-- ================================
    END MODAL SECTION
================================= -->

<!-- ================================
    START FOOTER SECTION
================================= -->
{% block jcrop %}{% endblock %}
{% block extend_footer %}
{% comment %} <script src="https://unpkg.com/jcrop"></script> {% endcomment %}
<script src="{% static 'js/vendor/jquery.selectareas.js' %}"></script>
<script type="text/javascript">
	$(document).ready(function () {
		$('img#image-1').selectAreas({
			minSize: [10, 10],
			onChanged: debugQtyAreas,
			width: 800,
			areas: [
			]
		});
		$('#btnView').click(function () {
			var areas = $('img#image-1').selectAreas('areas');
			displayAreas(areas);
		});
		$('#btnViewRel').click(function () {
			var areas = $('img#image-1').selectAreas('relativeAreas');
			displayAreas(areas);
		});
		$('#btnReset').click(function () {
			output("reset")
			$('img#image-1').selectAreas('reset');
		});
		$('#btnDestroy').click(function () {
			$('img#image-1').selectAreas('destroy');

			output("destroyed")
			$('.actionOn').attr("disabled", "disabled");
			$('.actionOff').removeAttr("disabled")
		});
		$('#btnCreate').attr("disabled", "disabled").click(function () {
			$('img#image-1').selectAreas({
				minSize: [10, 10],
				onChanged : debugQtyAreas,
				width: 500,
			});

			output("created")
			$('.actionOff').attr("disabled", "disabled");
			$('.actionOn').removeAttr("disabled")
		});
		$('#btnNew').click(function () {
			var areaOptions = {
				x: Math.floor((Math.random() * 200)),
				y: Math.floor((Math.random() * 200)),
				width: Math.floor((Math.random() * 100)) + 50,
				height: Math.floor((Math.random() * 100)) + 20,
			};
			output("Add a new area: " + areaToString(areaOptions))
			$('img#image-1').selectAreas('add', areaOptions);
		});
		$('#btnNews').click(function () {
			var areaOption1 = {
				x: Math.floor((Math.random() * 200)),
				y: Math.floor((Math.random() * 200)),
				width: Math.floor((Math.random() * 100)) + 50,
				height: Math.floor((Math.random() * 100)) + 20,
			}, areaOption2 = {
				x: areaOption1.x + areaOption1.width + 10,
				y: areaOption1.y + areaOption1.height - 20,
				width: 50,
				height: 20,
			};
			output("Add a new area: " + areaToString(areaOption1) + " and " + areaToString(areaOption2))
			$('img#image-1').selectAreas('add', [areaOption1, areaOption2]);
		});
	});

	var selectionExists;

	function areaToString (area) {
		return (typeof area.id === "undefined" ? "" : (area.id + ": ")) + area.x + ':' + area.y  + ' ' + area.width + 'x' + area.height + '<br />'
	}

	function areaToStringForBackend (area) {
		return (typeof area.id === "undefined" ? "" : (area.id + ":")) + area.x + '-' + area.y  + '-' + area.width + '-' + area.height + '<br />'
	}

	function areaToStringForBackendForForm (area, name) {
		return 'x:' + area.x + ',y:' + area.y  + ',x2:' +area.width + ',y2:' + area.height+ ',title:' + name
	}

	function output (text) {
		$('#output').html(text);
	}

	// Log the quantity of selections
	function debugQtyAreas (event, id, areas) {
		console.log(areas.length + " areas", arguments);
	};

	

	// Display areas coordinates in a div
	function displayAreas (areas) {
		var text = "";
		var form_el = $('#image-coordinates-row')
		form_el.empty()


		//get all areas
		var names = []
		var all_area_elements = document.getElementsByClassName("select-areas-background-area");
		for (var i = 0; i < all_area_elements.length; i++){
			names.push(all_area_elements[i].nextSibling.firstChild.value);
		}

		var reversedNames = names.reverse()
	
		$.each(areas, function (id, area) {
			var name = reversedNames[id];
			var new_div = '<div class="mb-3 col-md-12 ">' +
				'<label class="form-label">Box id: '+(id+1).toString()+'</label>'+
				'<input type="text" name="coordinate_'+(id+1).toString()+'" value="'+areaToStringForBackendForForm(area, name)+'" class="form-control" maxlength="30" readonly id="x-'+(id+1).toString()+'">'+
			'</div>'
			text += areaToStringForBackend(area);
			form_el.append(new_div)
		});
		output(text);
	};

</script><link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">

{% endblock %}
<!-- ================================
    END FOOTER SECTION
================================= -->

<!-- ================================
    START CONTENT SECTION
================================= -->
{% block content %}

{% include 'base/partials/breadcrumb.html' %}
<div class="row">
	<div class="col-xl-12">
		<div class="card">
			<div class="card-body">
				<div class="profile-tab">
					<div class="custom-tab-1">
						<ul class="nav nav-tabs">
							{% for object in object_list %}
							<li class="nav-item"><a href="#gallery-{{forloop.counter}}" data-bs-toggle="tab" class="nav-link{% if forloop.counter == 1 %} active show{% endif %}">{{object.title}} {{forloop.counter}}</a>
							{% endfor %}
						</ul>
						<div class="tab-content">
							{% for object in object_list %}
							<div id="gallery-{{forloop.counter}}" class="tab-pane fade{% if forloop.counter == 1 %} active show{% endif %}">
								<div class="row">
									<div class="col-xl-12">
										{% if forloop.counter == 1 %}
										<div class="image-decorator">
											<img src="{{object.file.url}}"  id="image-{{forloop.counter}}">
										</div>
										{% else %}
										<div class="jcrop-ux-fade-more">
											<img src="{{object.file.url}}" class="img-fluid mt-4 mb-4 w-100" id="image-{{forloop.counter}}" style="z-index: 0">
										</div>
										{% endif %}
									</div>
								</div>
								<div class="row">
									<div class="col-xl-6">
										
										<div id="output" class='output' style="display:none"> </div>
										<input type="button" id="btnView" value="Display areas" class="actionOn btn btn-secondary mt-4 mb-5" />
									</div>
									<div class="col-xl-6">
										<div class="basic-form">
											<form  method="post" id="coordinateform{{forloop.counter}}" action="/submit-coordinates/{{object.id}}/">
												{% csrf_token %}
												<div class="row" id="image-coordinates-row">
												</div>
												<button type="submit" id="coordinateformbtn{{forloop.counter}}" class="btn btn-secondary mt-4 mb-5 submit-coordinates">Save selections</button>
											</form>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

<!-- ================================
    END CONTENT SECTION
================================= -->