{% extends 'base/base.html' %}
{% load static widget_tweaks %}

<!-- ================================
    START SEO BLOCKS
================================= -->
{% block title %}
    AGI - {{page_name}}
{% endblock %}

{% block keywords %}
{% endblock %}

{% block description %}
{% endblock %}

{% block schema %}
{% endblock %}
<!-- ================================
    END SEO BLOCKS AREA
================================= -->

<!-- ================================
    START HEADER SECTION
================================= -->
{% block extend_header %}{% endblock %}
<!-- ================================
    END HEADER SECTION
================================= -->

<!-- ================================
    START MODAL SECTION
================================= -->
{% block modal %}{% endblock %}
<!-- ================================
    END MODAL SECTION
================================= -->

<!-- ================================
    START FOOTER SECTION
================================= -->
{% block extend_footer %}{% endblock %}
<!-- ================================
    END FOOTER SECTION
================================= -->

<!-- ================================
    START CONTENT SECTION
================================= -->
{% block content %}

<div class="authincation h-100">
	<div class="container h-100">
		<div class="row justify-content-center h-100 align-items-center">
			<div class="col-md-6">
				<div class="authincation-content">
					<div class="row no-gutters">
						<div class="col-xl-12">
							<div class="auth-form">
								<h4 class="text-center mb-4">Sign up your account</h4>
								<form method="post" id="basicform">
									{% csrf_token %}
									<div class="form-group">
										<label class="mb-1"><strong>Email</strong></label>
										{{form.email}}
									</div>
									<div class="form-group">
										<label class="mb-1"><strong>First Name</strong></label>
										{{form.first_name}}
									</div>
									<div class="form-group">
										<label class="mb-1"><strong>Last Name</strong></label>
										{{form.last_name}}
									</div>
									<div class="form-group">
										<label class="mb-1"><strong>Password</strong></label>
										{{form.password1}}
									</div>
									<div class="form-group">
										<label class="mb-1"><strong>Confirm password</strong></label>
										{{form.password2}}
									</div>
									<div class="text-center mt-4">
										<button type="submit" class="btn btn-primary btn-block">Sign me up</button>
									</div>
								</form>
								<div class="new-account mt-3">
									<p>Already have an account? <a class="text-primary" href="{% url 'users:login' %}">Sign in</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

<!-- ================================
    END CONTENT SECTION
================================= -->